body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
}

button {
    @include themed() {
        color: t($button-text-color);
        background-color: t($button-background-color);
        box-shadow: 0px 0px 1px 1px t($button-box-shadow-color);
    }

    @include rounded-corners(20px);
    padding: 10px;
    border: none;
    transition: 0.3s all ease-in-out;

    &:hover {
        @include themed() {
            color: t($button-hover-text-color);
            background-color: t($button-hover-background-color);
        }
        cursor: pointer;
        box-shadow: none;
    }
}