// Define colors
$pageBackgroundColor: #222222;
$mainTextColor: #E5E5E5;

// Define font sizes and weights
$mainTextFontSize: 13px;
$mainTextFontWeight: 300;
$secondaryTextFontSize: 10px;
$secondaryTextFontWeight: 100;
$titleFontSize: 30px;
$titleFontWeight: 600;