// Define colors
// -- Dark theme --
$page-background-color-dark: #222222;
$card-background-color-dark: #525252;
$main-text-color-dark: #e5e5e5;
$secondary-text-color-dark: #e5e5e5be;
$link-color-dark: #ffd5aa;
$button-text-color-dark: #e5e5e5;
$button-background-color-dark: transparent;
$button-hover-text-color-dark: #222222;
$button-hover-background-color-dark: #e5e5e5;
$button-box-shadow-color-dark: #d3d3d3;

$dark-theme-button-hover-background-color: #ffffff;

// -- Light theme --
$page-background-color-light: #ffffff;
$card-background-color-light: #86bfff;
$main-text-color-light: #222222;
$secondary-text-color-light: #22558f;
$link-color-light: #659cda;
$button-text-color-light: #ffffff;
$button-background-color-light: #659cda;
$button-hover-text-color-light: #ffffff;
$button-hover-background-color-light: #22558f;
$button-box-shadow-color-light: transparent;

// Define font sizes and weights
$main-text-font-size: 13px;
$main-text-font-weight: 300;
$secondary-text-font-weight: 10px;
$secondary-text-font-weight: 100;
$title-font-size: 30px;
$title-font-weight: 600;