.app {
  @include themed() {
    color: t($text);
    background-color: t($background);
  }

  @include flex-center-column;
  text-align: center;
  min-height: 100vh;
  font-size: $main-text-font-size;
  font-weight: $main-text-font-weight;

  header {
    @include sticky-top-element;
    @include flex-center;
    width: 100%;

    .change-theme-button {
      position: absolute;
      right: 20px;
    }
  }
}
