.app {
  @include themed() {
    color: t($text-color);
    background-color: t($background-color);
  }

  @include flex-center-column;
  text-align: center;
  min-height: 100vh;
  font-size: $main-text-font-size;
  font-weight: $main-text-font-weight;
}

.content {
  @include themed() {
    background-color: t($secondary-background-color);
  }

  @include flex-center;
  @include rounded-corners(10px);
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 100%;
  max-width: 1000px;
  min-height: calc(90vh - 30px);

  @media screen and (max-width: $breakpoint-mobile) {
    @include rounded-corners(0px);
    min-height: calc(100vh - 50px);
    margin: 0;
  }
}
