.palette-display-container {
    width: 50%;

    .frame {
        @include rounded-corners(10px);
        @include box-shadow-floating;
        height: 50vh;
        display: flex;

        .palette-column {
            flex-grow: 1;
        
            &:first-of-type {
                @include rounded-left-corners(10px);
            }
            
            &:last-of-type {
                @include rounded-right-corners(10px);
            }
        }
        
    }
}

button.palette-button {
    @include themed() {
        background: linear-gradient(to left, t($button-background-color) 20%, #e4c1f9 40%, #a9def9 60%, #d0f4de 80%, #fcf6bd 0);
        color: t($button-text-color);
        background-position: 100% 100%;
        background-size: 500% 100%;
    }

    margin-top: 20px;
    transition: all 0.6s ease-out;

    &:hover {
        color: $main-text-color-light;
        background-position: 0% 100%;
    }
}