.palette-display-container {
    width: 50%;

    .frame {
        @include rounded-corners(10px);
        @include box-shadow-floating;
        height: 50vh;
        display: flex;

        .palette-column {
            flex-grow: 1;
        
            &:first-of-type {
                @include rounded-left-corners(10px);
            }
            
            &:last-of-type {
                @include rounded-right-corners(10px);
            }
        }
        
    }
}

.palette-button {
    margin-top: 20px;
    background: linear-gradient(to left, transparent 20%, #e4c1f9 40%, #a9def9 60%, #d0f4de 80%, #fcf6bd 0);
    background-position: 100% 100%;
    background-size: 500% 100%;
    transition: 0.6s all ease-in-out;

    &:hover {
        background-position: 0% 100%;
    }
}